openapi: 3.0.3
info:
  title: Ducaheat Cloud API (Tevolve v2) — Unofficial
  version: "0.2.0"
  description: |
    Unofficial OpenAPI description for the Ducaheat (Ducasa) mobile app backend.
    This includes endpoints observed in captures and user reports. It generalizes
    node access to support multiple node types: heaters (htr), accumulators (acm),
    and power meters (pmo).

    Key differences vs TermoWeb:
      - No consolidated `/settings` resource for nodes; writes are segmented
        into `/status`, `/mode`, `/prog`, `/prog_temps`, `/setup`, `/lock`, `/select`.
      - WebSocket namespace and path differ (`/api/v2/socket_io`). Socket.IO v0.9.
      - Node paths use `{type}` (htr|acm|pmo|...) instead of a fixed `htr` segment.

    Base host: https://api-tevolve.termoweb.net
servers:
  - url: https://api-tevolve.termoweb.net
    description: Production (Ducaheat)
tags:
  - name: Auth
  - name: Devices
  - name: Nodes
  - name: Programs
  - name: Samples
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      type: http
      scheme: basic
  schemas:
    TokenResponse:
      type: object
      required: [access_token, token_type, expires_in]
      properties:
        access_token: { type: string }
        token_type: { type: string, example: Bearer }
        expires_in: { type: integer, example: 3600 }
        refresh_token: { type: string, nullable: true }
    Device:
      type: object
      properties:
        dev_id: { type: string }
        name: { type: string }
        product_id: { type: string }
        fw_version: { type: string }
        serial_id: { type: string }
    NodesResponse:
      type: object
      properties:
        nodes:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              addr: { type: integer }
              type: { type: string, description: "htr | acm | pmo | ..." }
              installed: { type: boolean }
              lost: { type: boolean }
              uid: { type: string }
              level: { type: integer }
              parent: { type: integer }
              setup:
                type: object
                additionalProperties: true
            additionalProperties: true
    ConsolidatedNode:
      type: object
      description: Consolidated state returned by GET /devs/{dev_id}/{type}/{addr}
      additionalProperties: true
      properties:
        status:
          type: object
          additionalProperties: true
          properties:
            sync_status: { type: string }
            mode: { type: string }
            stemp: { type: string, description: "Setpoint (string with one decimal)" }
            mtemp: { type: string, description: "Ambient temperature as string" }
            units: { type: string, enum: [C, F] }
            heating: { type: boolean }
            ventilation: { type: boolean }
            charging: { type: boolean }
            current_charge_per: { type: integer }
            target_charge_per: { type: integer }
            boost: { type: boolean }
            boost_end_day: { type: integer }
            boost_end_min: { type: integer }
            locked: { type: integer }
            window_open: { type: boolean }
            error_code: { type: integer }
        setup:
          type: object
          additionalProperties: true
          properties:
            sync_status: { type: string }
            operational_mode: { type: integer }
            control_mode: { type: integer }
            units: { type: string, enum: [C, F] }
            offset: { type: string }
            priority: { type: string }
            away_offset: { type: string }
            window_mode_enabled: { type: boolean }
            true_radiant_enabled: { type: boolean }
            resistor_mode: { type: integer }
            prog_resolution: { type: integer }
            frost_protect: { type: boolean }
            charging_conf:
              type: object
              properties:
                slot_1: { type: object, properties: { start: {type: integer}, end: {type: integer} } }
                slot_2: { type: object, properties: { start: {type: integer}, end: {type: integer} } }
                active_days:
                  type: array
                  items: { type: integer }
            min_stemp: { type: string }
            max_stemp: { type: string }
            factory_options:
              type: object
              additionalProperties: true
        prog:
          type: object
          description: Weekly program structure (shape varies by model; treat opaquely)
          additionalProperties: true
        prog_temps:
          type: object
          properties:
            comfort: { type: string }
            eco: { type: string }
            antifrost: { type: string }
    StatusWrite:
      type: object
      description: Write status for a node (htr|acm). pmo has its own endpoints.
      properties:
        mode: { type: string, description: "Device mode (model-dependent)" }
        stemp: { type: string, description: "Setpoint (string with one decimal)" }
        units: { type: string, enum: [C, F] }
        boost: { type: boolean, description: "Start/stop Boost (runback)" }
      additionalProperties: false
    ModeWrite:
      type: object
      properties:
        mode: { type: string }
      additionalProperties: false
    ProgWrite:
      type: object
      additionalProperties: true
    ProgTempsWrite:
      type: object
      properties:
        comfort: { type: string }
        eco: { type: string }
        antifrost: { type: string }
      additionalProperties: false
    SetupWrite:
      type: object
      properties:
        extra_options:
          type: object
          properties:
            boost_time: { type: integer, minimum: 1 }
            boost_temp: { type: string }
          additionalProperties: true
      additionalProperties: true
    LockWrite:
      type: object
      properties:
        lock: { type: boolean }
      additionalProperties: false
    SelectWrite:
      type: object
      properties:
        select: { type: boolean }
      additionalProperties: false
    EmptyResponse:
      type: object
      description: Empty JSON object on success
    PowerLimit:
      type: object
      properties:
        power_limit: { type: string }
paths:
  /client/token:
    post:
      tags: [Auth]
      summary: Obtain OAuth2 access token (password grant)
      description: >
        Use HTTP Basic with the app client (`5c49dce977510351506c42db:tevolve`).
        POST form fields: `grant_type=password&username=<email>&password=<password>`.
      security: [ { basicAuth: [] } ]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, username, password]
              properties:
                grant_type: { type: string, example: password }
                username: { type: string }
                password: { type: string }
      responses:
        "200":
          description: Access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
  /api/v2/devs/:
    get:
      tags: [Devices]
      summary: List hubs (gateways) for the account
      security: [ { bearerAuth: [] } ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  devs:
                    type: array
                    items: { $ref: '#/components/schemas/Device' }
                  invited_to:
                    type: array
                    items: { type: object }
  /api/v2/devs/{dev_id}/mgr/nodes:
    get:
      tags: [Devices]
      summary: List nodes attached to a hub (htr, acm, pmo, …)
      security: [ { bearerAuth: [] } ]
      parameters:
        - name: dev_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodesResponse'
  /api/v2/devs/{dev_id}/{type}/{addr}:
    get:
      tags: [Nodes]
      summary: Read node (consolidated state) for heaters or accumulators
      description: >
        `{type}` is typically `htr` (heater) or `acm` (accumulator).
        Returns a consolidated document with `status`, `setup`, `prog`, `prog_temps` (device dependent).
      security: [ { bearerAuth: [] } ]
      parameters:
        - name: dev_id
          in: path
          required: true
          schema: { type: string }
        - name: type
          in: path
          required: true
          schema: { type: string, enum: [htr, acm, pmo] }
        - name: addr
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolidatedNode'
  /api/v2/devs/{dev_id}/{type}/{addr}/status:
    post:
      tags: [Nodes]
      summary: Set mode/setpoint/units and optionally trigger Boost (htr/acm)
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: type, in: path, required: true, schema: { type: string, enum: [htr, acm] } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StatusWrite' }
            examples:
              manual_22C:
                value: { mode: manual, stemp: "22.0", units: C }
              boost_now:
                value: { boost: true }
      responses:
        "201":
          description: Accepted
          content: { application/json: { schema: { $ref: '#/components/schemas/EmptyResponse' } } }
  /api/v2/devs/{dev_id}/{type}/{addr}/mode:
    post:
      tags: [Nodes]
      summary: Set mode only (htr/acm)
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: type, in: path, required: true, schema: { type: string, enum: [htr, acm] } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ModeWrite' } } }
      responses:
        "201":
          description: Accepted
          content: { application/json: { schema: { $ref: '#/components/schemas/EmptyResponse' } } }
  /api/v2/devs/{dev_id}/{type}/{addr}/prog:
    post:
      tags: [Programs]
      summary: Set weekly program (htr/acm)
      description: Send the full weekly program object as read from GET, modified.
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: type, in: path, required: true, schema: { type: string, enum: [htr, acm] } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ProgWrite' } } }
      responses:
        "201":
          description: Accepted
          content: { application/json: { schema: { $ref: '#/components/schemas/EmptyResponse' } } }
  /api/v2/devs/{dev_id}/{type}/{addr}/prog_temps:
    post:
      tags: [Programs]
      summary: Set program temperatures (comfort/eco/antifrost) (htr/acm)
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: type, in: path, required: true, schema: { type: string, enum: [htr, acm] } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProgTempsWrite' }
            example: { comfort: "21.0", eco: "18.0", antifrost: "7.0" }
      responses:
        "201":
          description: Accepted
          content: { application/json: { schema: { $ref: '#/components/schemas/EmptyResponse' } } }
  /api/v2/devs/{dev_id}/{type}/{addr}/setup:
    post:
      tags: [Nodes]
      summary: Set advanced/extra options (includes default Boost params) (htr/acm)
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: type, in: path, required: true, schema: { type: string, enum: [htr, acm] } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetupWrite' }
            example: { extra_options: { boost_time: 60, boost_temp: "22.0" } }
      responses:
        "201":
          description: Accepted
          content: { application/json: { schema: { $ref: '#/components/schemas/EmptyResponse' } } }
  /api/v2/devs/{dev_id}/{type}/{addr}/lock:
    post:
      tags: [Nodes]
      summary: Toggle child lock / local control lock (htr/acm)
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: type, in: path, required: true, schema: { type: string, enum: [htr, acm] } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LockWrite' }
            examples:
              enable: { value: { lock: true } }
              disable: { value: { lock: false } }
      responses:
        "201":
          description: Accepted
          content: { application/json: { schema: { $ref: '#/components/schemas/EmptyResponse' } } }
  /api/v2/devs/{dev_id}/{type}/{addr}/select:
    post:
      tags: [Nodes]
      summary: Select/deselect this node for subsequent writes (htr/acm)
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: type, in: path, required: true, schema: { type: string, enum: [htr, acm] } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SelectWrite' }
            examples:
              select: { value: { select: true } }
              deselect: { value: { select: false } }
      responses:
        "201":
          description: Accepted
          content: { application/json: { schema: { $ref: '#/components/schemas/EmptyResponse' } } }
  /api/v2/devs/{dev_id}/pmo/{addr}:
    get:
      tags: [Nodes]
      summary: Read power meter (pmo) node (power limit and/or telemetry root)
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PowerLimit' }
  /api/v2/devs/{dev_id}/{type}/{addr}/samples:
    get:
      tags: [Samples]
      summary: Read samples (telemetry/history) for a node
      security: [ { bearerAuth: [] } ]
      parameters:
        - { name: dev_id, in: path, required: true, schema: { type: string } }
        - { name: type, in: path, required: true, schema: { type: string, enum: [htr, acm, pmo] } }
        - { name: addr, in: path, required: true, schema: { type: integer } }
        - name: start
          in: query
          required: true
          schema: { type: integer, format: int64, description: "Epoch ms (inclusive)" }
        - name: end
          in: query
          required: true
          schema: { type: integer, format: int64, description: "Epoch ms (exclusive)" }
      responses:
        "200":
          description: Samples payload (shape device-dependent)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
